/*não consegui fazer importação aquivo vou tentar atravez de algum cokmponente*/
/* .containerInput{
    background-color: aquamarine;
    height : 100 vh;
    display:flex ;
    justify-content:center;
    align-items: center ;
    Flex-direction:columns;
}

borda{
    margin-top:-25px;
    height:75vh; 
    width:50%;
    border:solid;
    border-width: 8px;
    border-height:30px;
    border-radius:10px;
    img{
      height:40vh;
      width:38vh;
     }
    
     input{
      padding:1vh;
      margin-right:60vh;
      height:3vh;
      width:20vh;
      border-radius:5px; 
      
      
    }
    button{
      margin-top:-50vh;
      height:10vh;
      width:12vh;
      margin-left:27vh;
    } */